/**
* COLORS
*/

@text-color:				#666666;
@headings-color:			#333333;

@brand-primary:				#E72F22;
@brand-secondary:			#3487D2;

@bg-light-grey:				#F2F2F2;



/**
* TYPOGRAPHY
*/

@font-family-sans-serif:	"Roboto", Arial, sans-serif;
@headings-font-weight:		400;

@font-size-h2:				32px;

@font-size-base:			16px;



/**
* VERTICAL RHYTHM
*/

@vr-lg:						60px;
@vr-md:						40px;
@vr-sm:						20px;


/**
* BOOTSTRAP COMPONENTS
*/

@link-color:				@brand-secondary;

@border-radius-base:		3px;
@border-radius-large:		@border-radius-base;
@border-radius-small:		@border-radius-base;

@input-border-radius:		0;
.input-sm, .input-lg{border-radius: @input-border-radius;}

@input-border-focus:		@brand-primary;

