<!-- CARD -->
<row class="features-row gray">
  <columns large="12" class="card">
    <spacer size="30"></spacer>
    <row>
      <columns>
        <h2>S&P diseño productos fáciles de instalar</h2>
        <p>SILENT DUAL se coloca con una práctica instalación que se realiza con una conexión directa de tan solo 2 hilos (L/N).</p>
      </columns>
    </row>
    <row class="pic">
      <columns>
          <a href="https://www.youtube.com/watch?v=ng1RvMKbXo4"><img class="float-center" src="assets/img/screenshot.jpg" alt="Video S&P diseño productos fáciles de instalar"></a>
          <spacer size="20"></spacer>
      </columns>
    </row>
  </columns>
</row>
<!-- END CARD -->
<!-- CARD -->
<row class="features-row">
    <columns large="12" class="card">
      <spacer size="30"></spacer>
      <row class="title">
        <columns>
          <center>
            <h2>2 sensores</h2>
          </center>
        </columns>
      </row>
      <row class="pic">
        <columns>
          <center>
            <img src="assets/img/silent_dual.jpg" alt="">
          </center>
        </columns>
      </row>
      <row>
        <columns>
          <row>
            <columns>
              <p><strong>Detección de Presencia y Humedad</strong> que hacen que el extractor autoajuste sus consignas en función de las condiciones ambientales, sin necesidad de interacción con el usuario.</p>
              <spacer size="10"></spacer>
              <center>
                <button class="secondary radius" href="https://www.solerpalau.com/es-es/lanzamiento-silent-dual/instaladores?utm_source=bbdd&utm_medium=email&utm_campaign=sp-esp-silentdual&utm_content=distribuidores">Más información</button>
              </center>
            </columns> 
          </row>
        </columns>
      </row>
    </columns>
  </row>
  <!-- END CARD -->
