<!-- CARD -->
<row class="features-row">
  <columns large="12" class="card">
    <spacer size="30"></spacer>
    <row class="pic">
        <columns large="3">
          <img class="float-left" src="assets/img/filler.png" alt="">
        </columns>
      <columns large="6">
        <center>
          <img class="float-center" src="assets/img/icon01.png" alt="">
        </center>
      </columns>
      <columns large="3">
        <img class="float-right" src="assets/img/logoinstall.png" alt="">
      </columns>
    </row>
    <row>
      <columns>
        <row>
          <columns>
            <h2>2 hilos</h2>
            <p>Conexionado a dos hilos para una <strong>fácil instalación</strong>.</p>
          </columns> 
        </row>
      </columns>
    </row>
  </columns>
</row>
<!-- END CARD -->
<spacer size="10"></spacer>
<!-- CARD -->
<row class="features-row">
    <columns large="12" class="card">
      <spacer size="30"></spacer>
      <row class="pic">
        <columns>
          <center>
            <img src="assets/img/icon02.png" alt="">
          </center>
        </columns>
      </row>
      <row>
        <columns>
          <row>
            <columns>
              <h2>2 sensores</h2>
              <p><strong>Detección de Presencia y Humedad</strong> que hacen que el extractor autoajuste sus consignas en función de las condiciones ambientales, sin necesidad de interacción con el usuario.</p>
            </columns> 
          </row>
        </columns>
      </row>
    </columns>
  </row>
  <!-- END CARD -->
  <spacer size="10"></spacer>
  <!-- CARD -->
  <row class="features-row">
      <columns large="12" class="card">
        <spacer size="30"></spacer>
        <row class="pic">
          <columns>
            <center>
              <img src="assets/img/icon03.png" alt="">
            </center>
          </columns>
        </row>
        <row>
          <columns>
            <row>
              <columns>
                <h2>2 modos de funcionamiento</h2>
                <p><strong>Permanente e Intermitente</strong>. Funciona automáticamente cuando detecta movimiento o un cambio en los niveles de humedad, y activa un modo preestablecido para lograr el menor consumo de energía y nivel de ruido.</p>
              </columns> 
            </row>
          </columns>
        </row>
      </columns>
    </row>
    <!-- END CARD -->
    <spacer size="10"></spacer>
    <!-- CARD -->
    <row class="features-row">
      <columns large="12" class="card">
        <spacer size="30"></spacer>
        <row class="pic">
          <columns>
            <center>
              <img src="assets/img/icon04.png" alt="">
            </center>
          </columns>
        </row>
        <row>
          <columns>
            <row>
              <columns>
                <h2>2 entradas de aire</h2>
                <p><strong>Frontal y perimetral</strong>. Optimizado para dar una mayor presión a caudales bajos.</p>
              </columns> 
            </row>
          </columns>
        </row>
      </columns>
    </row>
    <!-- END CARD -->
