<spacer size="50"></spacer>
<!-- SOCIAL -->
<row class="social">
    <columns class="social-icons">
      <img src="assets/img/filler2.png"/>
      <p>
        <a href="http://facebook.com/spespana/"><img src="assets/img/facebook.png" alt="facebook"/></a>&nbsp;
        <a href="https://twitter.com/SP_espana"><img src="assets/img/twitter.png" alt="twitter"/></a>&nbsp;
        <a href="https://www.youtube.com/user/SyPVentilation"><img src="assets/img/youtube.png" alt="youtube"/></a>&nbsp;
        <a href="https://www.linkedin.com/company/soler-&-palau/"><img src="assets/img/linkedin.png" alt="linkedin"/></a>
      </p>
      <img src="assets/img/filler3.png"/>
    </columns>
</row>
<spacer size="35"></spacer>
<!-- LEGAL -->
<row class="legal">
    <columns>
      <center>
          <img src="assets/img/logo.png" alt=""/>
      </center>
    </columns>
</row>
<row class="legal">
  <columns>
    <p>S&P Sistemas de Ventilación S.L.U. C/Llevant nº4, Pol. Ind. Llevant Parets del Vallès,<br>Barcelona, 08150, España.<br><br>Esta comunicación ha sido enviada por S&P Sistemas de Ventilación S.L.U., a destinatarios con los que mantiene una relación contractual previa o que han solicitado o autorizado expresamente su envío. Puede ejercer sus derechos de acceso, rectificación, cancelación y oposición por escrito a la dirección C/Llevant nº4, Pol. Ind. Llevant Parets del Vallès, Barcelona, España. Deberá acompañar copia de su documento nacional de identidad, pasaporte u otro documento válido que le identifique. También puede acceder a sus preferencias de email para darse de baja y modificar sus suscripciones de email.<br/><br/><a href="*|UNSUB|*" target="_blank">Anular</a> la suscripción de todos los futuros emails.</p>
  </columns>
</row>