<spacer size="30"></spacer>

<!-- HEADER -->
<row class="header">
  <columns>
    <p class="text-left">Si no puedes visualizar este mensaje, haz click <a href="*|ARCHIVE|*" target="_blank">aquí</a> </p>
  </columns>
</row>

<!-- HERO -->
<row class="hero">
  <columns>
    <center>
      <a href="https://www.solerpalau.com/es-es/lanzamiento-silent-dual/instaladores?utm_source=bbdd&utm_medium=email&utm_campaign=sp-esp-silentdual&utm_content=distribuidores"><img src="assets/img/header.jpg"></a>
    </center>
  </columns> 
</row>